In [1]:
import pandas as pd
train_data = pd.read_csv('/kaggle/input/titanic/train.csv');
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
women = train_data.loc[train_data.Sex == 'female']['Survived']
rate_w = sum(women) / len(women)
print('% of women that survived: ', rate_w)

% of women that survived:  0.7420382165605095

In [3]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_m = sum(men) / len(men)
print('% of men that survived: ', rate_m)

% of men that survived:  0.18890814558058924

In [4]:
from sklearn.ensemble import RandomForestClassifier

test_data = pd.read_csv('/kaggle/input/titanic/test.csv')
y = train_data['Survived']

features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth = 5, random_state = 1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index = False)
print('Saved')

Saved